<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
  
      <div class="jumbotron text-center">
        <h1> Mission to Mars </h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <h2><u>Latest Mars News</u></h2>
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-md-12">
          <h4>{{mars_dict.news_title}}</h4>
          <p>{{mars_dict.news_p}}</p>
        </div>
      </div>

    <hr>

      <div class="row">
        <div class="col-md-8 border">
          <h2 class=""><u>Featured Mars Image</u></h2> 
          </br>
          <img src="{{mars_dict.featured_image_url}}" alt="Features Mars Image">
        </div>
          </br>

          <!--Mars facts  -->
          <div class="col-md-4">
            <div class="row" id="mars_table">
              <h4> Mars Facts </h4>
              {{ mars_dict.mars_facts | safe}}
        </div>
      </div>

    <hr>


    
  </body>
  
  </html>